<div class="contents">
  <div class="top-bar">
    <div class="top-bar-top">
      <%= form_with(url: search_masks_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    <div class="scroll">
      <span><h3>ここはトップページ</h3></span>
    </div>
    <div class="top-bar-top">
      <%= will_paginate previous_label: ' &lt 前へ', next_label: '次へ &gt' %>
    </div>
  </div>
  <div class="slide">
    <% @masks.each do |mask| %>
      <%= render partial: "mask", locals: { mask: mask } %>
      <%# 部分テンプレート(_mask.html.erb)へ %>
    <% end %>
  </div>

  <div class="top-bar-top">
    <%= will_paginate %>
  </div>
</div>