      <div class="content">
        <div class="left-side">
        <% if user_signed_in? && current_user.id == @mask.user_id %>
          <div>
            <%= link_to '編集', edit_mask_path(@mask.id), method: :get %>
            <%# Prefixを用いて遷移先を指定 %>
          </div>
          <div>
            <%= link_to '削除', "/masks/#{@mask.id}", method: :delete, data: {confirm: "この投稿を削除しますか？"} %>
            <%# URI Patternを用いて遷移先を指定 %>
          </div>
        <% end %>
        </div>
        <div class="center">
          <%= image_tag @mask.image.variant(resize:'750x750'), class: 'mask-image' if @mask.image.attached? %>
          <%# variantメソッドが実行されることで、保存された元画像データを指定されたサイズに変換します %>
          <%# if @mask.image.attached?と記述することで、画像が存在する場合のみimage_tagが読み込まれるようになります。が、 %>
          <%# もともとバリデーションでimage present trueにしてるので、画像は必ず存在するから、書かなくてよくない？ %>
        </div>
        <div class="right-side">
          <div>
            <%= link_to @mask.user.nickname, "/users/#{current_user.id}", method: :get %>
          </div>
          <div>
            <%= @mask.text %>
          </div>
        </div>
      </div>